In [1]:
import numpy as np
import pandas as pd

# For 3-word model names

In [4]:
models3 = [
    "OnePlus 9RT 5G",
    #"Huawei P"
           ]
model3 = [x.lower() for x in models3]
model3 = pd.Series(model3)
model3 = model3.str.split()
print(model3)
print(len(model3))

0    [oneplus, 9rt, 5g]
dtype: object
1

In [5]:

length = len(model3)
ls3 = []

for i in range(length):
    s = [
    #model3[i][0]+" "+model3[i][1]+" "+model3[i][2],
    #model3[i][0]+" "+model3[i][1]+model3[i][2],
    model3[i][0]+model3[i][1]+model3[i][2],
    model3[i][0]+model3[i][1]+" "+model3[i][2],
    
    model3[i][0]+" "+model3[i][2],
    model3[i][0]+model3[i][2],
    
    model3[i][1]+" "+model3[i][2],
    model3[i][1]+model3[i][2]
    ]
    ls3.append(s)
    
ls3

[['oneplus9rt5g',
  'oneplus9rt 5g',
  'oneplus 5g',
  'oneplus5g',
  '9rt 5g',
  '9rt5g']]

In [7]:

length = len(model3)
ls3 = []

for i in range(length):
    s = [
    #model3[i][0]+" "+model3[i][1]+" "+model3[i][2],
    #model3[i][0]+" "+model3[i][1]+model3[i][2],
    model3[i][0]+" "+model3[i][1]+" "+model3[i][2],

    model3[i][0]+model3[i][1]+model3[i][2],
    model3[i][0]+model3[i][1]+" "+model3[i][2],
    model3[i][0]+model3[i][2]+model3[i][1],
    model3[i][0]+model3[i][2]+" "+model3[i][1],
    model3[i][1]+model3[i][0]+model3[i][2],
    model3[i][1]+model3[i][0]+" "+model3[i][2],
    model3[i][1]+model3[i][2]+model3[i][0],
    model3[i][1]+model3[i][2]+" "+model3[i][0],
    model3[i][2]+model3[i][0]+model3[i][1],
    model3[i][2]+model3[i][0]+" "+model3[i][1],
    model3[i][2]+model3[i][1]+model3[i][0],
    model3[i][2]+model3[i][1]+" "+model3[i][0],

    model3[i][0]+" "+model3[i][2],
    model3[i][0]+model3[i][2],
    model3[i][2]+" "+model3[i][0],
    model3[i][2]+model3[i][0],

    model3[i][1]+" "+model3[i][2],
    model3[i][1]+model3[i][2],
    model3[i][2]+" "+model3[i][1],
    model3[i][2]+model3[i][1]
    ]
    ls3.append(s)

ls3

[['oneplus 9rt 5g',
  'oneplus9rt5g',
  'oneplus9rt 5g',
  'oneplus5g9rt',
  'oneplus5g 9rt',
  '9rtoneplus5g',
  '9rtoneplus 5g',
  '9rt5goneplus',
  '9rt5g oneplus',
  '5goneplus9rt',
  '5goneplus 9rt',
  '5g9rtoneplus',
  '5g9rt oneplus',
  'oneplus 5g',
  'oneplus5g',
  '5g oneplus',
  '5goneplus',
  '9rt 5g',
  '9rt5g',
  '5g 9rt',
  '5g9rt']]

In [22]:
df3 = pd.DataFrame (ls3).transpose()
df3.columns = models3
df3

  OnePlus 9RT 5G
0   oneplus9rt5g
1  oneplus9rt 5g
2     oneplus 5g
3      oneplus5g
4         9rt 5g
5          9rt5g

In [23]:
df3.to_csv("keyword_mixer_3-word.csv", index=False, header=False)

# For 4-word model names

In [16]:
models4 = ["Oneplus Nord CE 5g",
           "Oneplus Nord N200 5G",
           "Oneplus Nord 2 5G",
           ]
model4 = [x.lower() for x in models4]
model4 = pd.Series(model4)
model4 = model4.str.split()
print(model4)

print(len(model4))

0      [oneplus, nord, ce, 5g]
1    [oneplus, nord, n200, 5g]
2       [oneplus, nord, 2, 5g]
dtype: object
3

In [17]:

length = len(model4)
ls4 = []

for i in range(length):
    s = [
    #model4[i][0]+" "+model4[i][1]+" "+model4[i][2]+" "+model4[i][3],
    #model4[i][0]+" "+model4[i][1]+" "+model4[i][2]+model4[i][3],
    #model4[i][0]+" "+model4[i][1]+model4[i][2]+model4[i][3],
    model4[i][0]+model4[i][1]+model4[i][2]+model4[i][3],
    model4[i][0]+model4[i][1]+model4[i][2]+" "+model4[i][3],
    model4[i][0]+model4[i][1]+" "+model4[i][2]+" "+model4[i][3],
    #model4[i][0]+" "+model4[i][1]+model4[i][2]+" "+model4[i][3],
    
    model4[i][0]+" "+model4[i][2]+" "+model4[i][3],
    model4[i][0]+" "+model4[i][2]+model4[i][3],
    model4[i][0]+model4[i][2]+model4[i][3],
    model4[i][0]+model4[i][2]+" "+model4[i][3],
    
    model4[i][1]+" "+model4[i][2]+" "+model4[i][3],
    model4[i][1]+" "+model4[i][2]+model4[i][3],
    model4[i][1]+model4[i][2]+model4[i][3],
    model4[i][1]+model4[i][2]+" "+model4[i][3],
    ]
    ls4.append(s)
    
ls4

[['oneplusnordce5g',
  'oneplusnordce 5g',
  'oneplusnord ce 5g',
  'oneplus ce 5g',
  'oneplus ce5g',
  'oneplusce5g',
  'oneplusce 5g',
  'nord ce 5g',
  'nord ce5g',
  'nordce5g',
  'nordce 5g'],
 ['oneplusnordn2005g',
  'oneplusnordn200 5g',
  'oneplusnord n200 5g',
  'oneplus n200 5g',
  'oneplus n2005g',
  'oneplusn2005g',
  'oneplusn200 5g',
  'nord n200 5g',
  'nord n2005g',
  'nordn2005g',
  'nordn200 5g'],
 ['oneplusnord25g',
  'oneplusnord2 5g',
  'oneplusnord 2 5g',
  'oneplus 2 5g',
  'oneplus 25g',
  'oneplus25g',
  'oneplus2 5g',
  'nord 2 5g',
  'nord 25g',
  'nord25g',
  'nord2 5g']]

In [18]:
df4 = pd.DataFrame (ls4).transpose()
df4.columns = models4
df4

   Oneplus Nord CE 5g Oneplus Nord N200 5G Oneplus Nord 2 5G
0     oneplusnordce5g    oneplusnordn2005g    oneplusnord25g
1    oneplusnordce 5g   oneplusnordn200 5g   oneplusnord2 5g
2   oneplusnord ce 5g  oneplusnord n200 5g  oneplusnord 2 5g
3       oneplus ce 5g      oneplus n200 5g      oneplus 2 5g
4        oneplus ce5g       oneplus n2005g       oneplus 25g
5         oneplusce5g        oneplusn2005g        oneplus25g
6        oneplusce 5g       oneplusn200 5g       oneplus2 5g
7          nord ce 5g         nord n200 5g         nord 2 5g
8           nord ce5g          nord n2005g          nord 25g
9            nordce5g           nordn2005g           nord25g
10          nordce 5g          nordn200 5g          nord2 5g

In [19]:
df4.to_csv("keyword_mixer_4-word.csv", index=False, header=False)

# For 5-word model names

In [10]:
models5 = [
    "Huawei Mate 40 Pro 4G",
           ]
model5 = [x.lower() for x in models5]
model5 = pd.Series(model5)
model5 = model5.str.split()
print(model5)
print(len(model5))

0    [huawei, mate, 40, pro, 4g]
dtype: object
1

In [11]:
length5 = len(model5)
ls5 = []

for i in range(length5):
    s = [
    #model5[i][0]+" "+model5[i][1]+" "+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    #model5[i][0]+" "+model5[i][1]+" "+model5[i][2]+" "+model5[i][3]+model5[i][4],
    #model5[i][0]+" "+model5[i][1]+" "+model5[i][2]+model5[i][3]+model5[i][4],
    #model5[i][0]+" "+model5[i][1]+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][0]+model5[i][1]+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][0]+model5[i][1]+model5[i][2]+model5[i][3]+" "+model5[i][4],
    model5[i][0]+model5[i][1]+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    model5[i][0]+model5[i][1]+" "+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    
    model5[i][0]+" "+model5[i][1]+" "+model5[i][2]+model5[i][3]+" "+model5[i][4],
    model5[i][0]+" "+model5[i][1]+model5[i][2]+model5[i][3]+" "+model5[i][4],
    #model5[i][0]+" "+model5[i][1]+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],

    model5[i][0]+" "+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    model5[i][0]+" "+model5[i][2]+" "+model5[i][3]+model5[i][4],
    model5[i][0]+" "+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][0]+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][0]+model5[i][2]+" "+model5[i][3]+model5[i][4],
    model5[i][0]+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    
    model5[i][1]+" "+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    model5[i][1]+" "+model5[i][2]+" "+model5[i][3]+model5[i][4],
    model5[i][1]+" "+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][1]+model5[i][2]+model5[i][3]+model5[i][4],
    model5[i][1]+model5[i][2]+" "+model5[i][3]+model5[i][4],
    model5[i][1]+model5[i][2]+" "+model5[i][3]+" "+model5[i][4],
    ]
    ls5.append(s)
    
ls5

[['huawei mate 40 pro 4g',
  'huawei mate 40 pro4g',
  'huawei mate 40pro4g',
  'huawei mate40pro4g',
  'huaweimate40pro4g',
  'huaweimate40pro 4g',
  'huaweimate40 pro 4g',
  'huaweimate 40 pro 4g',
  'huawei mate 40pro 4g',
  'huawei mate40pro 4g',
  'huawei mate40 pro 4g',
  'huawei 40 pro 4g',
  'huawei 40 pro4g',
  'huawei 40pro4g',
  'huawei40pro4g',
  'huawei40 pro4g',
  'huawei40 pro 4g',
  'mate 40 pro 4g',
  'mate 40 pro4g',
  'mate 40pro4g',
  'mate40pro4g',
  'mate40 pro4g',
  'mate40 pro 4g']]

In [12]:
df5 = pd.DataFrame (ls5).transpose()
df5.columns = models5
df5

    Huawei Mate 40 Pro 4G
0   huawei mate 40 pro 4g
1    huawei mate 40 pro4g
2     huawei mate 40pro4g
3      huawei mate40pro4g
4       huaweimate40pro4g
5      huaweimate40pro 4g
6     huaweimate40 pro 4g
7    huaweimate 40 pro 4g
8    huawei mate 40pro 4g
9     huawei mate40pro 4g
10   huawei mate40 pro 4g
11       huawei 40 pro 4g
12        huawei 40 pro4g
13         huawei 40pro4g
14          huawei40pro4g
15         huawei40 pro4g
16        huawei40 pro 4g
17         mate 40 pro 4g
18          mate 40 pro4g
19           mate 40pro4g
20            mate40pro4g
21           mate40 pro4g
22          mate40 pro 4g

In [13]:
df5.to_csv("keyword_mixer_5-word.csv", index=False, header=False)